.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.title {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

